.smallcard-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 10px;
    height: 90px;
}

.smallcard-container > img {
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.smallcard-container > p > span {
    font-weight: bolder;
}
