* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    /* display: none; */
    width: 10px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}

    header {
        background-color: mediumvioletred;
        display: flex;
        justify-content: space-between;
        height: 60px;
        align-items: center;
        padding: 0 20px;
    }

        header figure {
            display: flex;
            align-items: center;

        }

            header figcaption {
                font-size: 30px;
                font-weight: bolder;
                padding: 5px;
            }
            
            header img {
                width: 25px;
                margin: 0 20px;
            }

        header button {
            padding: 2px;
            width: 50px;
            font-weight: bold;
        }


    main {
        display: flex;
        flex-grow: 1;
    }

        nav {
                background-color: #f2d0e0;

        }

        .container {

        }

    footer {
        background-color: mediumvioletred;
        /* display: flex; */
    }